<div class="tab-pane fade" id="badges" role="tabpanel" aria-labelledby="badges-tab">
  <div class="awards__cards">
    <!-- award card -->
    <div class="awards__card">
      <%= display_img({src: '/assets/icons/awards_icons/awards-feedback.svg', alt: 'awards-feedback'}) %>
      
      <h4 class="awards__card-title" style="font-size: 1.6rem !important;">Connected with Mentor</h4>
      <p>Earned 500 points</p>
    </div>
    <!-- award card end-->
    <div class="awards__card">
      <%= display_img({src: '/assets/icons/awards_icons/awards-cake.svg', alt: 'awards-cake-1'}) %>
      
      <h4>3 Year Anniversay</h4>
      <p>Earned 3k points</p>
    </div>
    <div class="awards__card">
      <%= display_img({src: '/assets/icons/awards_icons/awards-cake.svg', alt: 'awards-cake-2'}) %>
      
      <h4>2 Year Anniversary</h4>
      <p>Earned 2k points</p>
    </div>
    <div class="awards__card">
      <%= display_img({src: '/assets/icons/awards_icons/awards-cake.svg', alt: 'awards-cake-2'}) %>
      
      <h4>1 Year Anniversary</h4>
      <p>Earned 2k points</p>
    </div>
    <div class="awards__card">
      <%= display_img({src: '/assets/icons/awards_icons/awards-bio.svg', alt: 'awards-bio'}) %>
     
      <h4>Add Bio</h4>
      <p>Earned 100 points</p>
    </div>
    <div class="awards__card">
      <%= display_img({src: '/assets/icons/awards_icons/awards-comm-start.svg', alt: 'awards-comm-start'}) %>
      
      <h4>1 Conversation Started</h4>
      <p>Earned 300 points</p>
    </div>
    <div class="awards__card">
      <%= display_img({src: '/assets/icons/awards_icons/awards-grop-conversa.svg', alt: 'awards-grop-conversation'}) %>
      
      <h4>Group Conversation</h4>
      <p>Earned 300 points</p>
    </div>
    <div class="awards__card">
      <%= display_img({src: '/assets/icons/awards_icons/awards-relation.svg', alt: 'awards-relation'}) %>
      
      <h4>Completed Relationships</h4>
      <p>Earned 1500 points</p>
    </div>
  </div>
</div>