<div class="tertiary-container">
  <div class="row">
    <%= render 'users/dashboard/third_row/my_connections' %>
    <%= render 'users/dashboard/third_row/upcomming_meetings' %>
<!--     <%= render 'users/dashboard/third_row/widget_three' %>
    <%= render 'users/dashboard/third_row/widget_four' %> -->
    <%= render 'users/dashboard/third_row/goals' %>
  </div>
</div>
