<!-- Main starts -->
<main class="main">
  <div class="main__aside"></div>
  <section class="main__primary courses">
    <div class="courses__container">
      <div class="courses__header">
        
      <%= form_with(url: "/search", method: "get") do %>
        <%= display_img ({src: '/assets/icons/icon-search.svg', alt: 'courses-search-icon'}) %>
        <%= text_field_tag(:q,'',placeholder: 'Search by Keyword', class: 'inline' ) %>
        <%= button_tag("Search",class: 'button--blue inline') %>
      <% end %>
      </div>

      <%= render 'users/courses/new_courses' %>
      <%= render 'users/courses/recomended_courses' %>
      
    </div>
  </section>
</main>
<!-- Main ends -->
