<!-- Main starts -->
<main class="main">
  <div class="main__aside"></div>
  <section class="main__primary helpline">
    <div class="helpline__header mb-5">
      <p class="helpline__tilte">Helpline</p>
      <div class="helpline__search-input">
        <div class="helpline__search-wrap">
          <form>
            <%= display_img({src: '/assets/icons/icon-search.svg', alt: 'helpline-search-icon', class: 'helpline__search-icon'}) %>
            <input type="text" placeholder="Search Keyword" />
          </form>
        </div>
      </div>
      <%= display_img({src: '/assets/icons/helpline_icons/helpline-charectors-icon.svg', alt: 'helpline-charectors-icon', class: 'helpline__top-img'}) %>
    </div>
    <div class="primary-container helpline__container">
      <ul>
        <li><%= link_to 'Resources', helpline_2_users_path %></li>
        <li><%= link_to 'Calendar Invite', helpline_2_users_path %></li>
        <li><%= link_to 'Message', helpline_2_users_path%></li>
        <li><%= link_to 'Groups', helpline_2_users_path %></li>
        <li><%= link_to 'Meetings', helpline_2_users_path %></li>
        <li><%= link_to 'Video Calls', helpline_2_users_path %></li>
        <li><%= link_to 'Mentoring', helpline_2_users_path %></li>
        <li><%= link_to 'Agreement', helpline_2_users_path %></li>
        <li><%= link_to 'Engaements', helpline_2_users_path %></li>
        <li><%= link_to 'Settings', helpline_2_users_path %></li>
        <li><%= link_to 'Profile Settings', helpline_2_users_path %></li>
        <li><%= link_to 'Getting Started', helpline_2_users_path %></li>

      </ul>
    </div>
  </section>
</main>
<!-- Main ends -->