<main class="main">
	<div class="main__aside"></div>
	<section class="main__primary">
		<div class="editprofile">

			<div class="editprofile__header">
				<%= link_to 'Dashboard', '#', {class: 'editprofile__dashboard'} %>
				<span class="editprofile__seprator">/</span>
				<%= link_to 'Edit Profile', '#', {class: 'editprofile__dashboard'} %>
			</div>

			<div class="editprofile__back">
				<%= link_to '< Back', '#', {class: 'back-button'} %>
			</div>
			  

			<%= render 'users/edit_profile/edit_profile_progress_bar' %>

			<div class="editprofile__container">
				<div class="row">
					<%= render 'users/edit_profile/edit_profile_aside' %>

					<div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
						<!-- Right tabs -->
						<div class="editprofile__setting">
							<div class="tab-content" id="myTabContent">
								<div
									class="tab-pane setting__tabs fade show active"
									id="profile"
									role="tabpanel"
									aria-labelledby="home-tab"
								>
									<h5 class="setting__tabs-title">Profile Settings</h5>
									<ul class="nav nav-tabs setting__tabs-menu" id="myTab" role="tablist">
										<li class="nav-item setting__tabs-item">
											<%= link_to 'Basic', '#basic', { class: 'nav-link setting__tabs-link active', 'data-toggle': 'tab', id: 'home-tab', role: 'tab', "aria-controls": 'tab', "aria-selected": 'true'} %>
										</li>
										<li class="nav-item setting__tabs-item">
											<%= link_to 'Communication', '#communication', { class: 'nav-link setting__tabs-link', 'data-toggle': 'tab', id: 'profile-tab', role: 'tab', "aria-controls": 'profile', "aria-selected": 'false'} %>
										</li>
										<li class="nav-item setting__tabs-item">
											<%= link_to 'Mentoring Role', '#mentoring-role', { class: 'nav-link setting__tabs-link', 'data-toggle': 'tab', id: 'contact-tab', role: 'tab', "aria-controls": 'contact', "aria-selected": 'false'} %>
										</li>
									</ul>

								<%# edit profile form %>
							
							<%= render 'users/edit_profile/edit_profile_form' %>



										<div
											class="tab-pane fade"
											id="communication"
											role="tabpanel"
											aria-labelledby="profile-tab"
										>
											<div class="communication regular-tab">
												<div class="row align-items-center">
													<div class="col-md-8">
														<div class="regular-tab__group">
															<label for="name" class="regular-tab__label"> Skype </label>
															<input type="text" class="regular-tab__input" />
														</div>
														<div class="regular-tab__group">
															<label for="name" class="regular-tab__label">
																Google Hangouts
															</label>
															<input type="text" class="regular-tab__input" />
														</div>
														<div class="regular-tab__group">
															<label for="name" class="regular-tab__label"> Zoom </label>
															<input type="text" class="regular-tab__input" />
														</div>
													</div>
													<div class="col-md-4"></div>
													<div class="col-md-12">
														<div class="regular-tab__group">
															<button class="button button--blue">Save</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div
											class="tab-pane fade"
											id="mentoring-role"
											role="tabpanel"
											aria-labelledby="contact-tab"
										>
											<p>mentoring-role</p>
										</div>
									</div>
								</div>
								<div
									class="tab-pane fade"
									id="employment"
									role="tabpanel"
									aria-labelledby="profile-tab"
								>
									<p>employment</p>
								</div>
								<div
									class="tab-pane fade"
									id="achievements"
									role="tabpanel"
									aria-labelledby="contact-tab"
								>
									<p>achievements</p>
								</div>
								<div
									class="tab-pane fade"
									id="achievements"
									role="tabpanel"
									aria-labelledby="profile-tab"
								>
									<p>Achievments</p>
								</div>
								<div
									class="tab-pane fade"
									id="skills"
									role="tabpanel"
									aria-labelledby="profile-tab"
								>
								<h5 class="setting__tabs-title">Skills</h5>
								<ul class="nav nav-tabs setting__tabs-menu" id="myTab" role="tablist">
									<li class="nav-item setting__tabs-item">
										<%= link_to 'Specialized', '#specialized', { class: 'nav-link setting__tabs-link active', 'data-toggle': 'tab', id: 'home-tab', role: 'tab', "aria-controls": 'home', "aria-selected": 'true'} %>
									</li>

									<li class="nav-item setting__tabs-item">
										<%= link_to 'Development Areas', '#development_Areas', { class: 'nav-link setting__tabs-link', 'data-toggle': 'tab', id: 'profile-tab', role: 'tab', "aria-controls": 'profile', "aria-selected": 'flase'} %>
									</li>
								</ul>

								<div class="tab-content" id="myTabContent">
									<div
										class="tab-pane fade show active"
										id="specialized"
										role="tabpanel"
										aria-labelledby="home-tab"
									>
										<div class="basic regular-tab">
											<div class="row align-items-center">
												<div class="col-md-12 col-lg-12 col-xl-6 specialized">
													<div class="regular-tab__group">
														<input type="text" class="regular-tab__input" placeholder="Industry"/>
														
														<%= link_to '#', {calss: 'pill pill-input'} do %>
														IT & Admin 
														<sapn class="pill-cross-icon">
														<%= display_img({src: '/assets/icons/close-icon.svg', alt:'cross-icon'}) %>
														</sapn>
													 	<% end %>
														
													</div>
													<div class="regular-tab__group">
														<input type="text" class="regular-tab__input"  placeholder="Languages" />													<%= link_to '#', {calss: 'pill pill-input'} do %>
														German
														<sapn class="pill-cross-icon">
														<%= display_img({src: '/assets/icons/close-icon.svg', alt:'cross-icon'}) %>
														</sapn>
													 	<% end %>
													</div>

								
												</div>
												<div class="col-md-12 col-lg-12 col-xl-6"></div>
												<div class="col-md-12">
													<div class="regular-tab__group">
														<button class="button button--blue">Save</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div
										class="tab-pane fade"
										id="development_Areas"
										role="tabpanel"
										aria-labelledby="profile-tab"
									>
	
									</div>
								</div>


								</div>
								<div
									class="tab-pane fade"
									id="competencies"
									role="tabpanel"
									aria-labelledby="profile-tab"
								>
									<p>Competencies</p>
								</div>
								
								<div
									class="tab-pane fade"
									id="account-settings"
									role="tabpanel"
									aria-labelledby="profile-tab"
								>
								<h5 class="setting__tabs-title">Account Settings</h5>


								<ul class="nav nav-tabs setting__tabs-menu" id="myTab" role="tablist">
									<li class="nav-item setting__tabs-item">
										<%= link_to 'Account', '#account', {class: 'nav-link setting__tabs-link active', id: 'home-tab', "data-toggle": 'tab', role: 'tab', "aria-controls": 'home', "aria-selected": 'true'}  %>
									</li>
									<li class="nav-item setting__tabs-item">
										<%= link_to 'Language', '#language', {class: 'nav-link setting__tabs-link', id: 'profile-tab', "data-toggle": 'tab', role: 'tab', "aria-controls": 'profile', "aria-selected": 'false'}  %>
									</li>
									<li class="nav-item setting__tabs-item">
										<%= link_to 'Notification', '#notification', {class: 'nav-link setting__tabs-link', id: 'contact-tab', "data-toggle": 'tab', role: 'tab', "aria-controls": 'contact', "aria-selected": 'false'}  %>
									</li>
									<li class="nav-item setting__tabs-item">
										<%= link_to 'Google Integration', '#google-integration', {class: 'nav-link setting__tabs-link', id: 'contact-tab', "data-toggle": 'tab', role: 'tab', "aria-controls": 'contact', "aria-selected": 'false'}  %>
									</li>		
									<li class="nav-item setting__tabs-item">
										<%= link_to 'Outlook Integration', '#outlook-integration', {class: 'nav-link setting__tabs-link', id: 'contact-tab', "data-toggle": 'tab', role: 'tab', "aria-controls": 'contact', "aria-selected": 'false'}  %>
									</li>
								</ul>
								

								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="home-tab">
										<div class="account-settings regular-tab">
											<div class="row align-items-center">
												<div class="col-md-12 col-lg-12 col-xl-8">
													<div class="regular-tab__group">
														<label for="name" class="regular-tab__label">
															Email
														</label>
														<input type="text" class="regular-tab__input">
													</div>
													<div class="regular-tab__group">
														<label for="name" class="regular-tab__label"> Password </label>
														<input type="password" class="regular-tab__input">
													</div>
													<div class="account-settings__deactivecontainer">
														<div class="account-settings__deactive">Deactivate Account</div>
														<div class="account-settings__row">
															<p>If you delete your account, your data will be gone forever.</p>
															
															<%= link_to 'Delete my account', '#' %>
														</div>
													</div>

												</div>
												<div class="col-md-12">
													<div class="regular-tab__group">
														<button class="button button--blue">Save</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane fade" id="language" role="tabpanel" aria-labelledby="profile-tab">
										<div class="language regular-tab">
											<div class="row align-items-center">
												<div class="col-md-8 col-lg-7">
													<div class="regular-tab__group">
														<label for="name" class="regular-tab__label"> Language </label>
														<select class="regular-tab__select">
															<option value="canada">English</option>
															<option value="united-kingdom">United Kingdom</option>
															<option value="united-states">United States</option>
														</select>
													</div>
												</div>
												<div class="col-md-4"></div>
												<div class="col-md-12">
													<div class="regular-tab__group">
														<button class="button button--blue">Save</button>
													</div>
												</div>
											</div>
										</div>

									</div>
									<div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="contact-tab">
										<p>Notification</p>
									</div>
									<div class="tab-pane fade" id="google-integration" role="tabpanel" aria-labelledby="contact-tab">
										<p>Google Integration</p>
									</div>
									<div class="tab-pane fade" id="outlook-integration" role="tabpanel" aria-labelledby="contact-tab">
										<p>outlook-integration</p>
									</div>
									<div class="tab-pane fade" id="mentoring-role" role="tabpanel" aria-labelledby="contact-tab">
										<p>mentoring-role</p>
									</div>
								</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- Main ends -->