<!-- Forth row -->
        <div class="tertiary-container">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="tertiary-container__tile">
                <div
                  class="tertiary-container__header tertiary-container__header--admin"
                >
                  <h6
                    class="tertiary-container__title tertiary-container__title--admin"
                  >
                    Connection Searches
                  </h6>
                </div>

                <div class="tertiary-container__chart">
                  <%= display_img({src: '/assets/admin-connection.png', alt: 'tertiary-container__graph-1', class: 'tertiary-container__graph-detail'}) %>
                </div>

                <div class="tertiary-container__footer">
                  <%= link_to 'View all results >', '#' %>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
              <div class="tertiary-container__tile">
                <div
                  class="tertiary-container__header tertiary-container__header--admin"
                >
                  <h6
                    class="tertiary-container__title tertiary-container__title--admin"
                  >
                    Available Mentors / Mentees
                  </h6>
                </div>

                <div class="tertiary-container__chart">
                  <%= display_img({src: '/assets/admin-men-graph.png', alt: 'tertiary-container__graph-1', class: 'tertiary-container__graph-1'}) %>
                  <%= display_img({src: '/assets/admin-men-graph-detail.png', alt: 'tertiary-container__graph-2', class: 'tertiary-container__graph-2'}) %>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
              <div class="tertiary-container__tile">
                <div
                  class="tertiary-container__header tertiary-container__header--admin"
                >
                  <h6
                    class="tertiary-container__title tertiary-container__title--admin"
                  >
                    Profiles
                  </h6>
                </div>

                <div class="tertiary-container__chart">
                  <%= display_img({src: '/assets/admin-profile-graph.png', alt: 'tertiary-container__graph-1', class: 'tertiary-container__graph-1'}) %>
                  <%= display_img({src: '/assets/admin-men-graph-detail.png', alt: 'tertiary-container__graph-2', class: 'tertiary-container__graph-2'}) %>
                </div>
              </div>
            </div>
          </div>
        </div>