      <div class="group-call__topbar">
        <div class="group-call__profile">
          <%= display_img({src: '/assets/profile-img.png', alt: ''}) %>
         </div>
        <div class="group-call__person-box">
          <div class="group-call__left-indicator">
            <%= display_img({src: '/assets/icons/call_icons/left-indicator.svg', alt: ''}) %>
          </div>
          <div class="group-call__all-members">
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-1.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/unmute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-2.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-3.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-4.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-5.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-6.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-7.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-8.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-9.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-10.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-11.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-11.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-11.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
            <div class="group-call__tile">
              <%= display_img({src: '/assets/video-member-11.png', alt: ''}) %>
              <button>
                <%= display_img({src: '/assets/icons/call_icons/mute-icon-sm.svg', alt: ''}) %>
              </button>
            </div>
          </div>
          <div class="group-call__right-indicator">
            <%= display_img({src: '/assets/icons/call_icons/right-indicator.svg', alt: ''}) %>
          </div>
        </div>
      </div>