      <div class="courses__title">New Courses</div>
      <div class="courses__cards">
        <div class="row">
          <!-- card 1 -->
          <div class="col-md-6 col-lg-4">
            <div class="courses__card">
              <div class="courses__time">12 Hourse</div>
              <%= display_img ({src: '/assets/courses-img-1.png', alt: 'courses-img-1'}) %>
              <div class="courses__card-desc">
                <h3>What is Graphic Design?</h3>
                <p>
                  A course about graphic design, and the text comes here
                  with about the design course. You need to register.
                </p>
                <%= link_to 'Read More ›', '#' %>
              </div>
            </div>
          </div>
          <!-- card 1 end -->
          <div class="col-md-6 col-lg-4">
            <div class="courses__card">
              <div class="courses__time">22 Hourse</div>
              <%= display_img ({src: '/assets/courses-img-2.png', alt: 'courses-img-2'}) %>
              <div class="courses__card-desc">
                <h3>Learn Management Skills</h3>
                <p>
                  Do you want to learn how to manage your day, you work
                  better? Then this course is for you. Enroll now.
                </p>
                <%= link_to 'Read More ›', '#' %>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="courses__card">
              <div class="courses__time">12 Hourse</div>
              <%= display_img ({src: '/assets/courses-img-3.png', alt: 'courses-img-3'}) %>
              <div class="courses__card-desc">
                <h3>Marketing: How to market yourself?</h3>
                <p>
                  This course is for you if you want to learn more about
                  this click below and enroll now.
                </p>
                <%= link_to 'Read More ›', '#' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="courses__view-all"><%= link_to ' View all >', '#' %></a></div>
