<div
    class="tab-pane fade"
    id="skills"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
  <h5 class="setting__tabs-title">Skills</h5>
  <%= render 'users/edit_profile/skills_list' %>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="specialized"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <div class="basic regular-tab">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-12 col-xl-6 specialized">
            <div class="regular-tab__group">
              <input type="text" class="regular-tab__input" placeholder="Industry"/>
              
              <%= link_to '#', {calss: 'pill pill-input'} do %>
              IT & Admin 
              <sapn class="pill-cross-icon">
              <%= display_img({src: '/assets/icons/close-icon.svg', alt:'cross-icon'}) %>
              </sapn>
              <% end %>
              
            </div>
            <div class="regular-tab__group">
              <input type="text" class="regular-tab__input"  placeholder="Languages" />                         <%= link_to '#', {calss: 'pill pill-input'} do %>
              German
              <sapn class="pill-cross-icon">
              <%= display_img({src: '/assets/icons/close-icon.svg', alt:'cross-icon'}) %>
              </sapn>
              <% end %>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-xl-6"></div>
          <div class="col-md-12">
            <div class="regular-tab__group">
              <button class="button button--blue">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="development_Areas"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
    </div>
  </div>
</div>