<!-- Top bar starts -->
<header class="top-bar">
  <%= div_with_img({class: 'top-bar__logo'},{src: 'main-logo.png',alt: 'main-logo',img_cls: 'top-bar__img'} ) %>
  <%= tag.div class: 'top-bar__toggler' do %>
  
    <%= link_with_img( {class: 'top-bar__bars'} , {src: 'icons/topbar_icons/top-bar-bars.svg',alt: 'bars icon'}) %>
    <%= link_with_img( {class: 'top-bar__close'} , {src: 'icons/topbar_icons/top-bar-close.svg',alt: 'close icon'}) %>
  <%end%>

  <div class="top-bar__side">
    <%= div_with_img({class: 'top-bar__notification'},{src: 'icons/topbar_icons/top-bar-message.svg',alt: 'message-icon',class: 'top-bar__icon' } )%>
    <%= div_with_img({class: 'top-bar__notification'},{src: 'icons/topbar_icons/top-bar-notification.svg',alt: 'notification icon',class: 'top-bar__icon' }) %>
    <div class="top-bar__btn-box">
      <%= link_with_img({class: 'button button--available',text: '<span>Available</span>'},{src: 'icons/topbar_icons/top-bar-available.svg',alt: 'available-icon',class: 'button__status'}) %>
      <div class="dropdown-box">
        <p class="dropdown-box__title">Set Your Availablity</p>
        <%= div_with_img({class: 'dropdown-box__state',text: 'Available <i class="fas fa-check"></i>'},{src: 'icons/topbar_icons/top-bar-available.svg',alt: 'available-icon'}) %>
        <%= div_with_img({class: 'dropdown-box__state',text: 'Unavailable'},{src: 'icons/topbar_icons/top-bar-unavailable.svg',alt: 'unavailable icon'}) %>
        <%=link_to 'Advanced Settings', no_path,class: 'dropdown-box__settings' %>
      </div>
    </div>
    <div class="profile">
      <div class="profile__avatar-box">
        <img src="/assets/icons/topbar_icons/top-bar-person.png" alt="profile-avatar" class="profile__avatar" />
      </div>
      <div class="profile__desc">
        <h4 class="profile__title">Martin Blum</h4>
        <p class="profile__detail">Member</p>
      </div>
      <div class="profile__arrow">
        <img src="/assets/icons/down-arrow.svg" alt="down-arrow-icon" class="profile__arrow-icon" />
      </div>
    </div>
  </div>
</header>
<!-- Top bar ends -->